body {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	height: 100%;
	font-size: 100%;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-weight: 300;
	vertical-align: baseline;
    background: transparent;
    background-color: #000040;
}

p {
	margin: 0;
}

.span-box {
    text-align: justify;
    min-width: 500px;
    font-size: 0;
}
.span-box:after {
    content: '';
    display: inline-block;
    width: 100%;
}
.span-box li {
    display: inline-block;
    color: white;
    font-size: 16px;
    padding: 10px;
}

#canvas-box {
    background-color: #000040;
}

#gl-canvas {
	display: block;
	margin-left: auto;
    margin-right: auto;
    cursor: crosshair;
}

.column-box {
	float: left;
	width: 50%;

}

.col-intern {
	/*margin: 10px;*/
	padding: 5%;
	text-align: center;
	background-color: #000040;
	color: white;
}

#inputs-box {
	background-color: #fff;
	text-align: center;
	padding: 20px;
	color: white;
}

#window-width {
	width: 50px;
}

#window-height {
	width: 50px;
}



